.container {
  padding: 20px;
}

.logo {
  height: 24px;
  fill: #e2231a;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.aboutUs {
  padding: 5px 10px;
  border: 2px solid #242424;
  text-transform: uppercase;
}